h1{
    color: #fe0f29;
    font-size: 40px;
    text-shadow: 8px 8px 8px gray ; /*horizontal offset, vertical offset,blurriness of shadow, Color*/
}

button{
    background-color: #fe0f29;
    color: aliceblue;
    width: 150px;
    margin-left: 60px; /* margin is the Spacing created outside the box*/
    margin-bottom: 30px;
    padding: 20px; /*paddding is spacing inside the content,,from the edge to its content*/
    border-radius: 10px;
}

button:hover{
    background-color: aqua;
}

h2{
    color: #fe0f29;
}

img{
    width: 300px;
    height: 250px;
}