form{
    background-color: rgb(0, 255, 234);
    width: 50%;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
}
legend{
    font-size: 40px;
    text-align: center;
    font-weight: bold;

}
input[type=text],[type=email],[type=password],[type=date],[type=datetime-local],[type=tel],select{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 10px;
}
button{
    background-color: red;
    color: white;
    display: block;
    margin: auto;
    
}
button:hover{
    background-color: black;
    color: aqua;
}
body{
    background-image: url("../assets/car\ 3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}